:root { font-size: 1.125rem; }
@media (min-width: 600px)  { :root { font-size: 1.5rem; } }
@media (min-width: 900px)  { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFF;
}

.messages {
  overflow: auto;
  width: 100vw;
  max-height: 100vh;
  padding: 1rem .9rem;
}

.bubble {
  display: inline-block;
  margin: 0 0 .25rem 0;
  padding: .5rem .85rem;
  line-height: 1.4;
  border-radius: 1.25rem;
  vertical-align: middle;
  max-width: 80%;
  background: rgba(206, 206, 206, 0.50);
  opacity: 0;
}

.bubble.left.cornered {
  border-bottom-left-radius: 0;
}

.bubble a {
  color: #0076FF;
}

.loading {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 3rem;
  min-height: 1.2rem;
  padding: .1rem 0;
}

.loading b {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  color: rgba(0,0,0,.45);
  line-height: 1;
}

.message {
  opacity: 0;
}
